/* ------------------- */
/*    basic styling    */
/* ------------------- */

/* page css */)

html, body, a{
  color:white;
}

/* page css end */
/* app wrapper*/

.app-wrap{
  max-width:100%;
  max-height: 100vh;
  text-align: justify;
}

/* app wrapper end */
/* header */

.app-header{
  max-width: 100%;
  background-color: gold;
  padding:0px 20px 0px 20px;
}

.app-header h1{
  font-size:180%;
  color:goldenrod;
}

/* header end */
/* content */

.content{
  color:black;
  padding:0px 20px 0px 20px;
}

.content img{
  width:50%;
}

/* content end */
/* footer */

.app-footer{
  background-color: gold;
  color:goldenrod;
}

.app-footer a{
  text-align: center;
  padding: 10px 0px 0px 0px;
}

.app-footer p{
  font-size: 90%;
}

/* footer end */