/* ------------------- */
/*    basic styling    */
/* ------------------- */

html, body, a{
  color:white;
}

/* app wrapper*/
.app-wrap{
  max-width:100%;
  max-height: 100vh;
}
/* app-wrapper end */
/* header */

.app-header{
  max-width: 100%;
  background-color: gold;
}

.app-header h1{
  font-size:180%;
  color:goldenrod;
}

/* header end */
/* footer */

.app-footer{
  background-color: gold;
  color:goldenrod;
}

.content{
  color:black;
}

/* footer end */